<html>
<head>
    <meta charset="UTF-8">
    <title>后台主页</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/style.css" rel="stylesheet"/>
    <script src="__PUBLIC__/admin/js/jquery.js" type="text/javascript">
    	
    </script>
	<script type="text/javascript">
//等待dom元素加载完毕.
$(document).ready(function(){
	$(".level1 > a").click(function(){
		$(this).addClass("current")   //给当前元素添加"current"样式
		.next().show()                //下一个元素显示
		.parent().siblings().children("a").removeClass("current")        //父元素的兄弟元素的子元素<a>移除"current"样式
		.next().hide();                //它们的下一个元素隐藏
		return false;
	});
});
</script>
</head>
<body>
<div class="adminheader"><!--头部-->
  <p class="userTop" style="text-align:right;margin-right:10px; line-height: 50px;">欢迎你，<?php echo session('username')."   ";?> <a href="{:url('Login/logout')}">退出</a></p>
 </div>
</body>
</html>